.FormContainer {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 32px;

  }
  
  .Form {
    display: flex;
    width: auto;
    flex-direction: column;
    gap: 24px;
  }
  .Forminput {
    border-radius: 8px;
    border: 1px solid #d6d6d6;
    background-color: white;
    width: auto;
    padding: 16px 12px;
    outline: none;
    color: #01071c;
  }
  .Forminput::placeholder {
    color: #909090;
  }
  .lable {
    color: #01071c;
    font-family: Test Founders Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .textarea {
    border-radius: 8px;
    border: 1px solid #d6d6d6;
    background-color: white;
    width: auto;
    padding: 16px 12px 120px 12px;
    outline: none;
    font-family: Test Founders Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #01071c;
  }
  .textarea::placeholder{
      color: #909090;
      font-family: Test Founders Grotesk;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  .FormTitle {
    color: #01071c;
    font-family: Test Founders Grotesk;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
  
  }
  .Buttondiv{
      margin-left: auto;
  }
  
  /*  Responsive*/
  
  /*for small screen */
  @media only screen and (max-width: 767px) {
    .FormContainer {
      display: flex;
      width:100%;
      flex-direction: column;
      gap: 32px;
    }
    
    .Form {
      display: flex;
      width: auto;
      flex-direction: column;
      gap: 24px;
    }
    .Forminput {
      border-radius: 8px;
      border: 1px solid #d6d6d6;
      background-color: white;
      width: auto;
      padding: 16px 12px;
      outline: none;
      color: #01071c;
    }
    .Forminput::placeholder {
      color: #909090;
    }
    .lable {
      color: #01071c;
      font-family: Test Founders Grotesk;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .textarea {
      border-radius: 8px;
      border: 1px solid #d6d6d6;
      background-color: white;
      width: auto;
      padding: 16px 12px 120px 12px;
      outline: none;
      font-family: Test Founders Grotesk;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: #01071c;
    }
    .textarea::placeholder{
        color: #909090;
        font-family: Test Founders Grotesk;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    .FormTitle {
      color: #01071c;
      font-family: Test Founders Grotesk;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
    
    }
   
    
  }
  
  /*for medium screen */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .FormContainer {
      display: flex;

      flex-direction: column;
      gap: 32px;
      width:100%;
    }
    .Form {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 24px;
    }
    .Buttondiv{
      margin-left: auto;
      
    }
  
  }
  
  /* Media query for large screens */
  @media only screen and (min-width: 992px) {
  }