.headerContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 24px 226px;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 16px;
  background: #ffffff;
  backdrop-filter: blur(10px);
  position: sticky;
  z-index: 100; /* Ensure the header is above other content */
  top: 28px;
  width: auto;
}
.headerLogo {
  color: #01071c;
  font-family: SF Pro Rounded;
  font-size: 24px;
  font-weight: 600;
  white-space: nowrap;
  flex: 1;
  width: 100%;
  align-self: center;
  text-decoration: none;
}
.headerActions {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  align-content: center;
}
.separator {
  width: 1px;
  height: 32px;
  border-radius: 16px;
  background: #eaeaec;
}

.Linkedin {
  padding: 8px;
  border-radius: 4px;
  background-color: #f4f4f4;
  transition: filter 0.3s ease; /* Add a smooth transition effect */
}
.Linkedin:hover {
  padding: 8px;
  border-radius: 4px;
  background-color: #e0e7fe;
}

/*for small screen */
@media only screen and (max-width: 767px) {
  .headerContainer {
    display: flex;
    /* flex: 1; */
    padding: 24px 24px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: sticky;
    top: 28px;
    width: auto;
    margin-top: 28px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 16px;
  }
  .headerLogo {
    white-space: nowrap;
    flex: 1;
  }
  .headerActions {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headersection {
    display: none;
  }

  .Button {
    display: none;
  }
  .separator {
    display: none;
  }
  .Menu {
    display: block; /* or any other styling for small screens */
  }
}

/*for medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .headerContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 24px 64px;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 16px;
    background: #ffffff;
    backdrop-filter: blur(10px);
    position: sticky;
    z-index: 100; /* Ensure the header is above other content */
    top: 28px;
    width: auto;
  }
  .headerLogo {
    white-space: nowrap;
    font-size: 20px;
    flex: 1;
    align-items: flex-end;
    text-align: flex-end;
   
    width: 100%;
  }
  .headerActions {
    gap: 16px;
    flex: 1;
    /* justify-content: flex-end; */
    flex-direction: row;
    /* width: 100%; */
  }

}

/* Media query for large screens */
@media only screen and (min-width: 992px) {
  .HeaderActions {
    justify-content: space-between;
  }
}
