body {
  background-color: #f4f4f4;
}
.Cointaner {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  margin-right: 250px;
  gap: 173px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.Title {
  color: #01071c;
  font-family: Test Founders Grotesk;
  font-size: 64px;
  font-weight: 500;
}
.Description {
  color: #909090;
  font-family: Test Founders Grotesk;
  font-size: 24px;
  font-weight: 400;
  width: auto; /* Limit the maximum width */
}
/*for small screen */
@media only screen and (max-width: 767px) {
  .Cointaner {
    margin-left: 48px;
    margin-right: 48px;
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .Title {
    color: #01071c;
    font-family: Test Founders Grotesk;
    font-size: 56px;
    font-weight: 500;
  }
  .Description {
    color: #909090;
    font-family: Test Founders Grotesk;
    font-size: 22px;
    font-weight: 400;
    width: auto; /* Limit the maximum width */
  }
}

/*for medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .Cointaner {
    margin-left: 88px;
    margin-right: 88px;
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .Title {
    color: #01071c;
    font-family: Test Founders Grotesk;
    font-size: 56px;
    font-weight: 500;
    justify-content: flex-start;
    width: 100%;
  }
  .Description {
    color: #909090;
    font-family: Test Founders Grotesk;
    font-size: 22px;
    font-weight: 400;
    width: auto; /* Limit the maximum width */
  }
}

/* Media query for large screens */
@media only screen and (min-width: 992px) {
}
/* *************************************************************************** */
/* Landing Page css */

.Landingpage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 80px;
}
.LandingTextContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 32px;
  justify-content: flex-start;
}
.LandingActionsContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}
.LandingImage {
  width: 50%;
}

/*for small screen */
@media only screen and (max-width: 767px) {
  .Landingpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }
  .LandingTextContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    justify-content: flex-start;
  }
  .LandingImage {
    width: 100%;
  }
}

/*for medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .Landingpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
  }
  .LandingTextContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
  }
  .LandingImage {
    width: 100%;
  }
}

/* End of Landing Page css */
/* *************************************************************************** */
/* Start of Services Page css */
.ServicesCointainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 80px;
}
.ImageContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}
.part1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  row-gap: 5%;
  justify-content: space-between;
}
.ServicesTextCointainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 50%;
}
.tagdiv {
  display: flex;
  flex-direction: row;
  gap: 3%;
  justify-content: center;
  align-items: center;
}
.tagdiv1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4%;
  width: 67%;
  height: 100%;
}
.tagdiv2 {
  display: flex;
  width: 30%;
}
/*for small screen */
@media only screen and (max-width: 767px) {
  .ServicesCointainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }
  .ImageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .part1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    row-gap: 5%;
    justify-content: space-between;
  }
  .ServicesTextCointainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }
  .tagdiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .tagdiv1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
  }
  .tagdiv2 {
    display: flex;
    width: 100%;
  }
}

/*for medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ServicesCointainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;
  }
  .ImageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .part1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    row-gap: 5%;
    justify-content: space-between;
  }
  .ServicesTextCointainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }
  .tagdiv {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .tagdiv1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    width: auto;
    height: 100%;
  }
  .tagdiv2 {
    display: flex;
    width: auto;
  }
}
/* End of Services Page css */
/* *************************************************************************** */

/* Start of work Page css */
.WorkContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 56px;
}
.WorkProjectContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
/*for small screen */
@media only screen and (max-width: 767px) {
  .WorkProjectContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

/*for medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .WorkProjectContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
/* End of work Page css */
/* *************************************************************************** */
/* Start of says Page css */
.SayContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 56px;
}
.SayTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.AllSaysContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 56px;
}
/*for small screen */
@media only screen and (max-width: 767px) {
  .SayContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

/*for medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .SayContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
/* End of work Page css */
/* *************************************************************************** */
/* Start of Form Page css */

.FormImage {
  width: 50%;
}

/*for small screen */
@media only screen and (max-width: 767px) {
  .FormImage {
    width: 100%;
  }
}

/*for medium screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .FormImage {
    width: 100%;
  }
}
/* End of Form Page css */
/* *************************************************************************** */
